[Unit]
Description=ArduCopter-quad
After=rsyslog.service

[Service]
Type=forking
#/usr/bin/ArduCopter-quad -A /dev/ttyAMA0 -C udp:127.0.0.1:14550
ExecStart=/usr/local/bin/start_ArduCopter-quad.sh
#KillMode=process
Restart=always
#Restart=on-failure
#RestartSec=1s

[Install]
WantedBy=multi-user.target
