[Unit]
Description=mavproxy
After=ArduCopter-quad.service

[Service]
Type=forking
ExecStart=/usr/local/bin/start_MAVProxy_MyPiModule.sh
#KillMode=process
#Restart=always
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
