[Unit]
Description=myvideo
After=multi-user.target

[Service]
Type=forking
ExecStart=/usr/local/bin/start_video.sh
ExecStop=/usr/local/bin/stop_video.sh
#KillMode=process
#Restart=on-failure

[Install]
WantedBy=multi-user.target
